.App {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.movie-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.movie-details-container .details {
  width: 250px;
}

.movie-details-container > .poster img{ 
  width: 250px;
  height: 200px;
}

.movie-details-container .name-and-genre {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.movie-details-container .details .year{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.movie-details-container .details {
  display: flex;
  justify-content: space-between;
}

.movies-list {
  display: flex;
  justify-content: space-between;
}

.control-section {
  display: flex;
  justify-content: space-between;
}

.input-group-append button {
  margin-left: 10px;
}

.search-form .input-group .form-control{
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
}

.sort-control {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sort-control label{
  width: 100px;
}

.movie-details {
  display: flex;
  width: 100%;
}

.movie-details img{
  width: 95%;
}

.container-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-modal > .modal {
  display: block !important;
}

.edit-movie {
  position: relative;

}

.edit-movie .btns{
  position: absolute;
  left: 60%;
  top: 25%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: none;
  text-align: right;
}

.edit-movie:hover .btns {
  display: block;
}